.select__collections{
    margin-top: 2rem;
}

.add__card-btn{
    margin-top: 1rem;
}

.card__div{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cards{
    border: 3px solid #00887A;
    border-radius: 5%;
    height: 200px;
    width: 90%;
    text-align: center;
    
}

.card__item{
    display: flex;
    height: 100%;
    border: 3px solid purple;
    border-radius: 3%;
    background-color: rgb(201, 196, 201);
    color: black;
    text-align: center;
    justify-content: center;
}

.card__text{
    align-self: center;
    text-align: center;
}