.select__collections{
    margin-top: 2rem;
}

.dropdown__btn > button{
    margin-bottom: 2rem;
    background-color: #3670DA;
    color: white;
}

.add__card-btn{
    margin-top: 1rem;
    background-color: #3670DA;
    color: white;
}

.card__div{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 175px 175px;
    justify-content: center;
}

.cards{
    z-index: 1;
    border: 3px solid #00887A;
    border-radius: 5%;
    height: 200px;
    width: 90%;
    text-align: center;
}

.card__item{
    z-index: 2;
    display: grid;
    height: 100%;
    border: 3px solid purple;
    border-radius: 3%;
    background-color: rgb(201, 196, 201);
    color: black;
    text-align: center;
    justify-content: center;
}

#Java-cards {
    border: 5px solid #5f9bc0;
}

#Python-cards{
    border: 3px solid #F7C738;
}

#React-cards{
    border: 4px solid #5ED3F3;
}

#HTML5-cards{
    border: 3px solid orangered;
}


.card__text{
    z-index: 3;
    font-size: .75rem;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

.card__text > p {
    padding: 0px 30px 0px 30px;
    margin-bottom: .25rem;
}

.card__btn{
    justify-content: space-between;
    align-items: flex-end;
}

.card__edit-btn{
    margin-right: 2.75rem;
    color: #3670DA;
    font-size: 1.55rem;
    padding: 0;
}
.card__delete-btn{
    color: red;
    font-size: 1.25rem;
    padding: 0;
    stroke: black;
    stroke-width: .75px;
}

.flip__btn{
    margin-top: 2rem;
    background-color:#3670DA;
}