.select__collections{
    margin-top: 2rem;
}

.add__card-btn{
    margin-top: 1rem;
}

.card__div{
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cards{
    z-index: 1;
    border: 3px solid #00887A;
    border-radius: 5%;
    height: 200px;
    width: 90%;
    text-align: center;
    
}

.card__item{
    z-index: 2;
    display: grid;
    height: 100%;
    border: 3px solid purple;
    border-radius: 3%;
    background-color: rgb(201, 196, 201);
    color: black;
    text-align: center;
    justify-content: center;
}

.card__text{
    margin-top: 1.5rem;
    z-index: 3;
    align-self: center;
    text-align: center;
}

.card__btn{
    justify-content: space-between;
    align-items: flex-end;
}

.card__edit-btn{
    margin-right: 2.15rem;
}